.feedbacksDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  .feedbackTitle {
    font-size: 25px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section {
    margin: auto;
  }